:root {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  background-color: #38bdf8;
}

.board {
  border: 1px solid black;
  height: 600px;
  width: 600px;
  margin-left: 290px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding: 20px;
  background-color: #1e3a8a;
}

.square {
  border: 1px solid black;
  background-color: #38bdf8;
  margin: 2px;
  font-size: 30px;
}

.all_boards {
  display: flex;
}

.board2 {
  padding: 20px;
  border: 1px solid black;
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin-left: 100px;
  background-color: #1e3a8a;
}

.title {
  margin-left: 830px;
  font-size: 56px;
}

.text {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-left: 785px;
}

.btn_container {
  margin-top: 50px;
  margin-left: 535px;
  margin-bottom: 10px;
  height: 50px;
}

.rotate {
  width: 150px;
  height: 40px;
  background-color: #f59e0b;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  border: none;
}

.winner {
  position: absolute;
  top: 100px;
  left: 450px;
}

.winner h1 {
  font-size: 300px;
}
